@model IEnumerable<Blog_Barneaud_Huyghe.Models.Article>

<div>

    <!-- //Non fonctionnel// a  asp-action="Blogueurs" asp-controller="Administrateur">Blogueurs</a-->|
    <a  asp-action="Commentaires" asp-controller="Administrateur">Commentaires</a>

</div>